.blue {
    background-color: rgb(245, 208, 154) !important;
}

.green {
    background-color: rgb(206, 243, 206) !important;
}

.yellow {
    background-color: rgb(245, 245, 169) !important;
}

.red {
    background-color: rgb(245, 164, 164) !important;
}


/* tr[data-rev = ("rev>0 && rev<=25000")]{
    background: #e97070 ;
    }
    tr[data-rev = ("rev>25000 && rev<=50000")]{
        background: #7cdf5f ;
        }          
        tr[data-rev = ("rev>50000 && rev<=75000")]{
            background: #dcca3e ;
            }
            tr[data-rev = ("rev>75000")]{
                background: #5ac4f5 ;
                } */