.red {
    background-color: #e97070;
}

.green{
    background-color: #7cdf5f;
}

.yellow {
    background-color: #dcca3e;
}

.blue {
    background-color: #5ac4f5;
}
/* tr[data-rev = ("rev>0 && rev<=25000")]{
    background: #e97070 ;
    }
    tr[data-rev = ("rev>25000 && rev<=50000")]{
        background: #7cdf5f ;
        }          
        tr[data-rev = ("rev>50000 && rev<=75000")]{
            background: #dcca3e ;
            }
            tr[data-rev = ("rev>75000")]{
                background: #5ac4f5 ;
                } */
                /* .rev-0-25000 {
                    background: #e97070;
                }
                .rev-25001-50000{
                    background: #7cdf5f;
                }
                
                .rev-50001-75000 {
                    background: #dcca3e;
                }
                
                .rev-75001 {
                    background: #5ac4f5;
                } */
                